use flake
export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING="user=clave dbname=clave sslmode=disable host=localhost port=54321"
export GOOSE_MIGRATION_DIR="./migrations"
export LICENSE_HMAC_SECRET="kevinMaikundLaura"
export LICENSE_JWT_PRIVATE_KEY="rbODMKpaRIh3Yn7kpwip7Oe4iSwgv5TYRg//3nADXuBF5Ay4zXH1zfHzoVazqRRDhWfpFisSXSYpZtFC3mSz9Q=="
export LICENSE_JWT_PUBLIC_KEY="ReQMuM1x9c3x86FWs6kUQ4Vn6RYrEl0mKWbRQt5ks/U="
export DATABASE_URL="postgres://clave@localhost:54321/clave?sslmode=disable"
export SELF_SERVICE_TOKEN_PEPPER="super-secret-random-string"
